* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #9da8cd, #182e74);
  width: 100%;
  height: 100vh;
  transition: 4s;
}

.container {
  background-color: aliceblue;
  padding: 3em, 2.5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  width: 80vw;
  max-width: 37.5em;
  box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.search-wrapper {
  display: grid;
  grid-template-columns: 9fr 3fr;
  /* gap: 1.25em; */
  margin: 20px;
}
.search-wrapper button {
  font-size: 1em;
  background: coral;
  color: #fff;
  border: none;
  /* border-radius: 1.5em; */
  border-radius: 0 1.5em 1.5em 0;
  cursor: pointer;
  padding: 0.8em 0;
  outline: none;
}

.search-wrapper input {
  font-size: 1em;
  border: none;
  outline: none;
  border-radius: 1.5em 0 0 1.5em;
  padding: 0 0.62em;
  border-bottom: 1px solid #3d64e6;
  color: #222a43;
}

/* /result */

#result {
  margin-top: 1.25em;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
}

.container .flag-img {
  display: block;
  width: 25%;
  min-width: 5.5em;
  margin: 1.2em auto 0.6em auto;
}
.container .coatOfArms {
  display: block;
  width: 15%;
  min-width: 2.5em;
  margin: 0.5em auto 0.5em auto;
}
.header {
  text-align: center;
}

.container h2 {
  font-weight: 600;
  color: #222a43;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1.8em;
}
.data-wrapper {
  margin: 20px;

  margin-bottom: 1em;
  letter-spacing: 0.3px;
}

.container h4 {
  display: inline;
  /* font-weight: 500; */
  color: #222a43;
}
.container span {
  color: #5d6274;
}
